<footer class="footer">
  <div class="container">
    <p class="footer-desc">© 2021 Lawliet. All rights reserved</p>
    <ul class="footer-list list">
      <li class="footer-item">
        <svg class="footer-icon" width="13" height="13">
          <use href="./img/icons.svg#icon-instagram"></use>
        </svg>
      </li>
      <li class="footer-item">
        <svg class="footer-icon" width="13" height="13">
          <use href="./img/icons.svg#icon-ball"></use>
        </svg>
      </li>
      <li class="footer-item">
        <svg class="footer-icon" width="13" height="13">
          <use href="./img/icons.svg#icon-twitter"></use>
        </svg>
      </li>
      <li class="footer-item">
        <svg class="footer-icon" width="13" height="13">
          <use href="./img/icons.svg#icon-youtube"></use>
        </svg>
      </li>
    </ul>
  </div>
</footer>
