<section class="hero">
  <div class="container">
    <div class="hero-wrap">
      <div class="hero-reportWrap">
        <p class="hero-new">New</p>
        <p class="hero-report">Stay connected to the upcoming & Recent jobs</p>
      </div>
      <h1 class="hero-title">Your Solution Legal Consultacy</h1>
      <p class="hero-desc">
        We are here to help you take care of your legality with the best service
        especially for you.
      </p>
      <button class="hero-btn" type="button">GET STARTED</button>
      <div class="hero-company">
        <p class="hero-company-desk">Trusted by 10+ companies in indonesia</p>
        <ul class="hero-company-list list">
          <li class="hero-company-item">
            <svg class="hero-company-icon" width="90" height="28">
              <use href="./img/icons.svg#icon-airbnb"></use>
            </svg>
          </li>
          <li class="hero-company-item">
            <svg class="hero-company-icon" width="84" height="24">
              <use href="./img/icons.svg#icon-hubspot"></use>
            </svg>
          </li>
          <li class="hero-company-item">
            <svg class="hero-company-icon" width="122" height="26">
              <use href="./img/icons.svg#icon-microsoft"></use>
            </svg>
          </li>
          <li class="hero-company-item">
            <svg class="hero-company-icon" width="84" height="28">
              <use href="./img/icons.svg#icon-google"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <img src="./img/hero-img.png" alt="Hero" class="hero-img" />
  </div>
</section>
