<section class="navigation">
  <div class="container">
    <div class="navigation-logoWrap">
      <p class="navigation-logo">L</p>
      <p class="navigation-logoTitle">Lawliet</p>
    </div>
    <ul class="navigation-list list">
      <li class="navigation-item">
        <h3 class="navigation-title">Product</h3>
        <ul class="navigation-list-list list">
          <li>Overview</li>
          <li>Features</li>
          <li>Tutorials</li>
          <li>Pricing</li>
          <li>Releases</li>
        </ul>
      </li>
      <li class="navigation-item">
        <h3 class="navigation-title">Company</h3>
        <ul class="navigation-list-list list">
          <li>About</li>
          <li>Press</li>
          <li>Careers</li>
          <li>Contact</li>
          <li>Partners</li>
        </ul>
      </li>
      <li class="navigation-item">
        <h3 class="navigation-title">Support</h3>
        <ul class="navigation-list-list list">
          <li>Help Center</li>
          <li>Terms of service</li>
          <li>Legal</li>
          <li>Privacy Policy</li>
          <li>Status</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
