<section class="utility">
  <div class="utility-container">
    <div class="utility-wrap">
      <h2 class="utility-title">Why do we help with legalization?</h2>
      <p class="utility-desc">
        We are here for UMKM in Indonesia to carry out the legalization process,
        which is sometimes complicated.
      </p>
    </div>
    <ul class="utility-list list">
      <li class="utility-item">
        <svg class="utility-icon" width="37" height="37">
          <use href="./img/icons.svg#icon-circle"></use>
        </svg>
        <h3 class="utility-item-title">Enviromental Law</h3>
        <p class="utility-item-desc">
          Environmental legal issues might occur since the planned business
          activities are designed.
        </p>
      </li>
      <li class="utility-item">
        <svg class="utility-icon" width="37" height="37">
          <use href="./img/icons.svg#icon-bag"></use>
        </svg>
        <h3 class="utility-item-title">Corporate and Commercial</h3>
        <p class="utility-item-desc">
          We provide a complete range of services for the continuity of your
          business activities.
        </p>
      </li>
      <li class="utility-item">
        <svg class="utility-icon" width="37" height="37">
          <use href="./img/icons.svg#icon-rocket"></use>
        </svg>
        <h3 class="utility-item-title">Information and Technology</h3>
        <p class="utility-item-desc">
          IT not followed by the existing regulation which might cause legal
          uncertainty and business uncertainty.
        </p>
      </li>
      <li class="utility-item">
        <svg class="utility-icon" width="37" height="37">
          <use href="./img/icons.svg#icon-user"></use>
        </svg>
        <h3 class="utility-item-title">Other Services</h3>
        <p class="utility-item-desc">
          In dealing with disruptive economic and legal challenge, our firm also
          provide various legal services.
        </p>
      </li>
    </ul>
  </div>
</section>
